---
layout: default
title: "About Me"
bg-color: "linear-gradient(to right,#155799,#159978);"
description: "about VCoolWind"
---

<!-- Post Header -->
<style type="text/css">
    header.intro-header{
        background-image: {% if page.header-img %} url('{{ site.BASE_PATH }}{{ page.header-img }}'){% endif %}{% if page.bg-color %} {{ page.bg-color }}{% endif %}
    }
</style>

<header class="intro-header" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{ page.title }}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
<!-- Main Content -->
    <div class="container">
        <div class="row">

        <!-- Post Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                post-container">

<h2 id="section-1">Need TODO!</h2>

        </div>
    </div>
</article>
